@font-face {
  font-family: "ProximaNovaBold";
  src: url('../assets/font/ProximaNova-Bold.otf');
  /* ('../assets/font/ProximaNova-Light.otf'),
  ('../assets/font/ProximaNova-LightItalic.otf'),
  ('../assets/font/ProximaNova-Reg.otf'),
  ('../assets/font/ProximaNova-RegItalic.otf'),
  ('../assets/font/ProximaNova-Regular.otf'),
  ('../assets/font/ProximaNova-RegularItalic.otf'),
  ('../assets/font/ProximaNova-Sbold.otf'),
  ('../assets/font/ProximaNova-SboldItalic.otf'),
  ('../assets/font/ProximaNova-Semibold.otf'),
  ('../assets/font/ProximaNova-SemiboldItalic.otf'), */
}

@font-face {
  font-family: "ProximaNovaLight";
  src: url('../assets/font/ProximaNova-Light.otf');
}

@font-face {
  font-family: "ProximaNovaRegular";
  src: url('../assets/font/ProximaNova-Regular.otf');
}
