@import './variables.scss';
@import './transition.scss';
// @import './font.scss';
@import './scroll.scss';

html {
  height: 100%;
  font-size: 14px;
  color: #303133;
  // font-family: "ProximaNovaRegular", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  box-sizing: border-box;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Arial, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#app {
  height: 100%;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.page-container {
  padding: 0 6%;
  position: relative;
}

.bg {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.bg-center {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}

input,
h1,
h2,
h3,
h4,
h5 {
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
  font-weight: normal;
}

.pointer {
  cursor: pointer;
}

.bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}
.fr{
  float: right;
}
.fl{
  float: left;
}
// 覆盖element-ui样式
.el-message {
  top: 90px;
}
